



.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}


.jumbo {
    background-color: burlywood;
    margin-bottom: 30px;
    
}

.pie {
    height: 80px;
    background-color: #003399;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-primary {
    margin-bottom: 20px;
}

.navbar-toggler {
    border: 2px solid orange;
}